h1 {
    color: aqua;
    text-align: center;
    background-color: black;
}

p {
    color: beige;
    background-color: blue;
    text-align: center;
    font-size: medium;
}

.meme {
    border: 10px ridge f00;
    text-align: center;
    background-color: blanchedalmond;
}

body {
    background-color: gray;
}